<a href="/books">Books Index</a>
<a href="/recipes">Recipes Index</a>
<a href=<%="/books/#{@books.id}/recipes"%>>Recipes Included in This Book</a>

<h1><%= @books.title %></h1>
<p> Series: <%= @books.author%><br>
  Rating: <%= @books.rating%>/5<br>
  All recipes are completed? <%= @books.book_completed%><br>
  Recipes included: <%= @recipes.count%>
</p>
